@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add these styles to ensure full height coverage */
html, body, #root {
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #0f111a;
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
  }
  
  .scrollbar-thumb-gray-600::-webkit-scrollbar {
    width: 8px;
  }
  
  .scrollbar-thumb-gray-600::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .scrollbar-thumb-gray-600::-webkit-scrollbar-thumb {
    background-color: #4B5563;
    border-radius: 20px;
  }
  
  .scrollbar-thumb-gray-500::-webkit-scrollbar-thumb {
    background-color: #6B7280;
  }

  /* Custom Scrollbar Styles */
  .custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #1a1b1e transparent;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #1a1b1e;
    border: 2px solid #2f3136;
    border-radius: 4px;
  }

  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #202225;
  }
}